@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Libre+Barcode+39+Text&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg;
}

body {
  font-family: 'Comfortaa', cursive;
}

.title {
  font-family: 'Libre Barcode 39 Text', cursive;
}

.contact {
  font-family: 'Righteous', cursive;
}

.dashboard {
  display: grid;
  grid-template-columns: 285px 285px 285px 285px;
  grid-template-rows: 285px 285px 285px 285px;
  gap: 25px 25px;
  grid-auto-flow: dense;
  grid-template-areas:
    'info info icon todo'
    'nix emacs skills experience'
    'projects projects skills experience'
    'edu edu contact contact';
}

.card {
  @apply rounded-base bg-white p-8 shadow;
}

.info {
  grid-area: info;
}

.icon {
  grid-area: icon;
}

.todo {
  grid-area: todo;
}

.nix {
  grid-area: nix;
}

.emacs {
  grid-area: emacs;
  transition: all 0.5s ease-in-out;
}

.projects {
  grid-area: projects;
}

.projects {
  grid-area: projects;
}

.skills {
  grid-area: skills;
}

.skill_list::-webkit-scrollbar {
	display: none;
}

.experience {
	grid-area: experience;
}

.edu {
  grid-area: edu;
}

.contact {
  grid-area: contact;
}
