@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Libre+Barcode+39+Text&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg;
}

body {
  font-family: 'Comfortaa', cursive;
}

.title {
  font-family: "Libre Barcode 39 Text", cursive;
}

.contact {
  font-family: 'Righteous', cursive;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "info info icon recent"
    "Nix Emacs project2 recent"
    "project1 project1 project2 project3"
    "edu edu contact contact";
}

.card {
  @apply rounded-base bg-white shadow;
}

.info {
  grid-area: info;
}

.icon {
  grid-area: icon;
}

.recent {
  grid-area: recent;
}

.Nix {
  grid-area: Nix;
}

.Emacs {
  grid-area: Emacs;
}

.project1 {
  grid-area: project1;
}

.project2 {
  grid-area: project2;
}

.project3 {
  grid-area: project3;
}

.edu {
  grid-area: edu;
}

.contact {
  grid-area: contact;
}
